.crossword-puzzle-container {
    display: flex;
    height: 100vh;
}

.crossword-puzzle-container > * {
    padding: 20px;
}

@media (max-width: 768px) {
  .crossword-puzzle-container {
    flex-wrap: wrap;
  }

  .crossword-puzzle-container > * {
    padding: 10px;
  }
}
