.cell {
  position: relative;
  background-color: #fff;
  width: 100%;
  grid-column: span 1;
}

.cell:before {
    position: relative;
    padding-top: 100%;
    content: "";
    height: 0;
    width: 1px;
    display: inline-block;
}

.cell.blocked {
  background-color: #000;
}

.cell.active {
  background-color: lightblue;
}

.cell.selected {
  background-color: lightyellow;
}

.cell-number {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 2px;
  font-size: 0.8em;
}

.cell-char {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
